.center {
  background-color: lightblue;
  border: 2px solid black;
  padding: 70px;
  color: purple;
  font-weight: bold;
}

.all {
  border-top-width: 2px solid black;
  padding: 200px;
  display: flex;
  justify-content: center;
}